*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 100%;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #9aa5b1;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a39e93;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

.dark *::-webkit-scrollbar-thumb {
  background: #7b8794;
  border-radius: 10px;
}

.dark *::-webkit-scrollbar-thumb:hover {
  background: #52606d;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
