*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #E4E7EB;
}

*::-webkit-scrollbar-track {
  border-radius: 100%;
}

*::-webkit-scrollbar-thumb {
  background: #9aa5b1;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a39e93;
}

*::-webkit-scrollbar-corner {
  background: #E4E7EB;
}

.dark *::-webkit-scrollbar,
.dark::-webkit-scrollbar {
  background-color: #1F2933;
}

.dark *::-webkit-scrollbar-thumb,
.dark::-webkit-scrollbar-thumb {
  background: #7b8794;
  border-radius: 10px;
}

.dark *::-webkit-scrollbar-thumb:hover,
.dark::-webkit-scrollbar-thumb:hover {
  background: #52606d;
}

.dark *::-webkit-scrollbar-corner,
.dark::-webkit-scrollbar-corner {
  background: #1F2933;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
